@*@model QuanLiChiTieu.Models.HomeModel;*@
@*@model IEnumerable<QuanLiChiTieu.Models.IncomeEntity>*@
@using Microsoft.AspNetCore.Http.Extensions;
@{
    string FormattedAmount(int _amount)
    {
        //return string.Format("{0:C}", _amount);
        //return _amount.ToString();
        return _amount.ToString("N0");
    }
    bool isDetail()
    {
        string tab = ViewBag.lstSearchCondition[7];
        if (tab == "detail")
        {
            return true;
        }
        else
        {
            return false;
        }
    }
    string getTypeSpending(string type)
    {
        string result = "";
        switch (type)
        {
            case "1":
                result = "Nhà/Sinh hoạt phí";
                break;
            case "2":
                result = "Ăn uống";
                break;
            case "3":
                result = "Mua sắm";
                break;
            case "4":
                result = "Quỹ tài chính/Bảo hiểm";
                break;
            case "5":
                result = "Trả nợ vay";
                break;
            case "6":
                result = "Di chuyển";
                break;
            case "7":
                result = "Giải trí";
                break;
            case "8":
                result = "Giáo dục/Sức khỏe";
                break;
            case "9":
                result = "Khác";
                break;
        }
        return result;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lí Chi Tiêu</title>
    <link rel="stylesheet" type="" href="~/style/QuanLiChiTieu.css">
    <script type="text/javascript" src="~/js/QuanLiChiTieu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>

<body onload="setMonthYear(@ViewBag.lstSearchCondition[0],@ViewBag.lstSearchCondition[1],@ViewBag.lstSearchCondition[2],@ViewBag.lstSearchCondition[3],@ViewBag.lstSearchCondition[4]), clickDetail(@isDetail().ToString().ToLower())">
    @{
        if (@ViewBag.message != null)
        {
        <script>alert("@ViewBag.message");</script>
            }
        }
    <header>
        <div class="home">
            <a href="https://phanhiep97nd.github.io/hiepphan/Hieplayout/Hiep-Profile.html" target="_blank">POWER BY Phan Văn Hiệp</a>
        </div>
        <div class="banner">
            <h1>QUẢN LÍ CHI TIÊU</h1>
            <h5>Giúp bạn tính toán các khoản thu nhập và chi tiêu để hoạch định số tiền cần đầu tư!</h5>
        </div>
    </header>
    <main>
        <div id="navbar" class="navbar">
            <ul class="clearfix menu-vertical">
                <li><a href="/CreateIncome/CreateIncome">KHAI THU NHẬP</a></li>
                <li><a href="/CreateSpending/CreateSpending">KHAI CHI TIÊU</a></li>
            </ul>
        </div>
        <div class="menu-content">
            <ul class="clearfix nav-detail">
                @*<li id="overView" onclick="clickDetail(false)">
            <a>BẢNG TỔNG QUÁT</a>
        </li>
        <li id="detail" onclick="clickDetail(true)">
            <a>BẢNG CHI TIẾT</a>
        </li>*@
                <li id="overView" onclick="clickDetail(false)"><a href="#overView">KHAI THU NHẬP</a></li>
                <li id="detail" onclick="clickDetail(true)"><a href="#detail">KHAI CHI TIÊU</a></li>
            </ul>
        </div>
        <div class="content-overView clearfix">
            <div class="left-content-overView">
                <h2>Hi @ViewBag.loginName + @ViewBag.lstSearchCondition[1] ! <button id="logout" onclick="checkLogout(@ViewBag.userId)" style="font-style:italic; font-size:15px; background:#4ba9dd; color:white">[Logout]</button></h2>
                <h1>Quản lý chi tiêu hàng tháng</h1>
                <p>Thống kê thu nhập và các khoản chi tiêu hàng tháng, bạn sẽ có cái nhìn rõ hơn về tình trạng tài chính để hoạch định cho tương lai!</p>
                <hr style="color: white;">
                <h2>
                    Tháng
                    <select name="" id="monthOverView" class="month" onchange="changeSearchCondition(@ViewBag.userId, '@ViewBag.lstSearchCondition[5]','@ViewBag.lstSearchCondition[6]', 'overview')"></select> Năm

                    <select name="" id="yearOverView" class="year" onchange="changeSearchCondition(@ViewBag.userId, '@ViewBag.lstSearchCondition[5]','@ViewBag.lstSearchCondition[6]','overview')"></select>
                </h2>
                @*@{
                        if (Model != null)
                        {
                            int totalIncome = 0;
                            int totalSpending = 0;
                            foreach (var Data in Model)
                            {
                                totalIncome += Data.ValueIncome;
                                //totalSpending += Data.ValueSpending;
                            }
                            <h3>Tổng thu nhập</h3>
                            <h2>@{@FormattedAmount(totalIncome);} VND</h2>
                            <hr style="border: 1px solid rgb(66, 157, 196);">
                            <h3>Tổng chi tiêu</h3>
                            <h2>VND</h2>
                            <hr style="border: 1px solid rgb(66, 157, 196);">
                            <h3>Tích lũy tài chính</h3>
                            <h2>VND</h2>
                        }
                    }*@
                @{
                    int totalIncome = 0;
                    int totalSpending = 0;
                    int salaryIncome = 0;
                    int otherIncome = 0;
                    int type1Spending = 0, type2Spending = 0, type3Spending = 0, type4Spending = 0, type5Spending = 0, type6Spending = 0, type7Spending = 0, type8Spending = 0, type9Spending = 0;
                    foreach (var Data in ViewBag.lstIncomeOverview)
                    {
                        totalIncome += Data.ValueIncome;
                        if (Data.TypeIncome == "1")
                        {
                            salaryIncome += Data.ValueIncome;
                        }
                        else if (Data.TypeIncome == "2")
                        {
                            otherIncome += Data.ValueIncome;
                        }
                    }
                    foreach (var Data in ViewBag.lstSpendingOverview)
                    {
                        totalSpending += Data.ValueSpending;
                        switch (Data.TypeSpending)
                        {
                            case "1":
                                type1Spending += Data.ValueSpending;
                                break;
                            case "2":
                                type2Spending += Data.ValueSpending;
                                break;
                            case "3":
                                type3Spending += Data.ValueSpending;
                                break;
                            case "4":
                                type4Spending += Data.ValueSpending;
                                break;
                            case "5":
                                type5Spending += Data.ValueSpending;
                                break;
                            case "6":
                                type6Spending += Data.ValueSpending;
                                break;
                            case "7":
                                type7Spending += Data.ValueSpending;
                                break;
                            case "8":
                                type8Spending += Data.ValueSpending;
                                break;
                            case "9":
                                type9Spending += Data.ValueSpending;
                                break;

                        }
                    }
                    <h3>Tổng thu nhập</h3>
                    <h2>@{@FormattedAmount(totalIncome);} VND</h2>
                    <hr style="border: 1px solid rgb(66, 157, 196);">
                    <h3>Tổng chi tiêu</h3>
                    <h2>@{@FormattedAmount(totalSpending);} VND</h2>
                    <hr style="border: 1px solid rgb(66, 157, 196);">
                    <h3>Tích lũy tài chính</h3>
                    <h2>@{@FormattedAmount(totalIncome - totalSpending);} VND</h2>
                }
            </div>
            <div class="right-content-overView">
                <table style="width: 90%;" cellspacing="30">
                    <tr>
                        <td style="width: 70%;">
                            <h2 style="color: #1348ab;">Thu nhập tháng</h2>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Tiền lương</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(salaryIncome);}  VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Thu nhập khác</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(otherIncome);} VND</b></td>
                    </tr>
                </table>
                <hr style="color: rgb(54, 109, 138);">
                <table style="width: 90%;" cellspacing="30">
                    <tr>
                        <td style="width: 70%;">
                            <h2 style="color: #1348ab;">Chi tiêu tháng</h2>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Nhà/Sinh hoạt phí</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type1Spending);} VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Ăn uống</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type2Spending);} VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Mua sắm</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type3Spending);} VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Quỹ tài chính/Bảo hiểm</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type4Spending);} VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Trả nợ vay</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type5Spending);} VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Di chuyển</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type6Spending);} VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Giải trí</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type7Spending);} VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Giáo dục/Sức khỏe</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type8Spending);} VND</b></td>
                    </tr>
                    <tr>
                        <td style="color: #3ebeda;">Khác</td>
                        <td style="color: rgba(0, 0, 0, 0.8);text-align: right;"><b>@{@FormattedAmount(type9Spending);} VND</b></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="content-detail clearfix">
            <div class="left-content-detail">
                <h1>Chi tiết các khoản thu chi</h1>
                <h2>
                    Lọc các khoản chi tiêu
                    <select name="" id="showDetailBy1" onchange="getDetailBy(this.value),changeSearchCondition(@ViewBag.userId, 'DATE_INCOME','DESC','detail')">
                        <option value="1">Theo tháng</option>
                        <option value="2">Theo Năm</option>
                    </select>
                    <select name="" id="monthDetail" class="month" onchange="changeSearchCondition(@ViewBag.userId, '@ViewBag.lstSearchCondition[5]','@ViewBag.lstSearchCondition[6]','detail')">
                        <option value="0" selected>-Chọn tháng-</option>
                    </select>
                    <select name="" id="yearDetail" class="year" onchange="changeSearchCondition(@ViewBag.userId, '@ViewBag.lstSearchCondition[5]','@ViewBag.lstSearchCondition[6]', 'detail')"></select>
                </h2>
                <hr style="color: white;">
                <h2>Thu Nhập</h2>
                <table border="1" cellpadding="0" cellspacing="0" style="width: 100%;text-align: center;border-color:white">
                    <tr>
                        <th style="width: 20%;">
                            <h3>
                                Ngày @(@ViewBag.lstSearchCondition[5] == "DATE_INCOME" ? "(*)" : "")
                                @{
                                    if (@ViewBag.lstSearchCondition[6] == "DESC")
                                    {
                                        <a onclick="changeSearchCondition(@ViewBag.userId, 'DATE_INCOME','ASC', 'detail')" href="#" style="color:white">▲▽</a>
                                    }
                                    else if (@ViewBag.lstSearchCondition[6] == "ASC")
                                    {
                                        <a onclick="changeSearchCondition(@ViewBag.userId, 'DATE_INCOME','DESC', 'detail')" href="#" style="color:white">△▼</a>
                                    }
                                }
                            </h3>
                        </th>
                        <th style="width: 20%;">
                            <h3>Loại thu nhập</h3>
                        </th>
                        <th style="width: 20%;">
                            <h3>
                                Số tiền(VND) @(@ViewBag.lstSearchCondition[5] == "VALUE_INCOME" ? "(*)" : "")
                                @{
                                    if (@ViewBag.lstSearchCondition[6] == "DESC")
                                    {
                                        <a onclick="changeSearchCondition(@ViewBag.userId, 'VALUE_INCOME','ASC', 'detail')" href="#" style="color:white">▲▽</a>
                                    }
                                    else if (@ViewBag.lstSearchCondition[6] == "ASC")
                                    {
                                        <a onclick="changeSearchCondition(@ViewBag.userId, 'VALUE_INCOME','DESC', 'detail')" href="#" style="color:white">△▼</a>
                                    }
                                }
                            </h3>
                        </th>
                        <th>
                            <h3>Ghi chú</h3>
                        </th>
                        <th style="width: 5%;">
                        </th>
                        <th style="width: 5%;">
                        </th>
                    </tr>
                    @{
                        int totalIncomeDetail = 0;
                        foreach (var dataIncomeDetail in ViewBag.lstIncomeDetail)
                        {
                            String path = "/Edit/Edit/" + @dataIncomeDetail.IncomeId + "?typeEdit=income";
                            totalIncomeDetail += dataIncomeDetail.ValueIncome;
                            <tr>
                                <td>@dataIncomeDetail.DateIncome.ToString("dd/MM/yyyy")</td>
                                <td>@(dataIncomeDetail.TypeIncome == "1" ? "Tiền lương" : "Khác")</td>
                                <td>@{@FormattedAmount(dataIncomeDetail.ValueIncome);} </td>
                                <td>@dataIncomeDetail.NoteIncome</td>
                                <td><a href="@path"><img src="https://img.icons8.com/metro/16/ffffff/edit.png" /></a></td>
                                <td><a onclick="checkDelete(@dataIncomeDetail.IncomeId, 'income')"><img src="https://img.icons8.com/small/26/ffffff/delete-forever.png" /></a></td>
                            </tr>
                        }
                    }
                </table>
                <h3>Tổng:@{@FormattedAmount(totalIncomeDetail);} VND</h3>
                <hr style="color: white;">
                <h2>Chi Tiêu</h2>
                <table border="1" cellpadding="0" cellspacing="0" style="width: 100%;text-align: center;border-color:white">
                    <tr>
                        <th style="width: 20%;">
                            <h3>Ngày</h3>
                        </th>
                        <th style="width: 20%;">
                            <h3>Loại chi tiêu</h3>
                        </th>
                        <th style="width: 20%;">
                            <h3>Số tiền(VND)</h3>
                        </th>
                        <th>
                            <h3>Ghi chú</h3>
                        </th>
                        <th style="width: 5%;">
                        </th>
                        <th style="width: 5%;">
                        </th>
                    </tr>
                    @{
                        int totalSpendingDetail = 0;
                        foreach (var dataSpendingDetail in ViewBag.lstSpendingDetail)
                        {
                            totalSpendingDetail += dataSpendingDetail.ValueSpending;
                            String path = "/Edit/Edit/" + @dataSpendingDetail.SpendingId + "?typeEdit=spending";
                            <tr>
                                <td>@dataSpendingDetail.DateSpending.ToString("dd/MM/yyyy")</td>
                                <td>@{@getTypeSpending(dataSpendingDetail.TypeSpending);} </td>
                                <td>@{@FormattedAmount(dataSpendingDetail.ValueSpending);} </td>
                                <td>@dataSpendingDetail.NoteSpending</td>
                                <td><a href="@path"><img src="https://img.icons8.com/metro/16/ffffff/edit.png" /></a></td>
                                <td><a onclick="checkDelete(@dataSpendingDetail.SpendingId, 'spending')"><img src="https://img.icons8.com/small/26/ffffff/delete-forever.png" /></a></td>
                            </tr>
                        }
                    }
                </table>
                <h3>Tổng:@{@FormattedAmount(totalSpendingDetail);} VND</h3>
                <hr style="color: white;">
                <h3>Tích Lũy Tài Chính:@{@FormattedAmount(totalIncomeDetail - totalSpendingDetail);} VND</h3>
            </div>
            <div class="right-content-detail">
                <canvas id="myChart"></canvas>
                <canvas id="myLineChart"></canvas>
            </div>
        </div>
    </main>
</body>
<script type="text/javascript">
    let myChart = document.getElementById('myChart').getContext('2d');
                        // Global Options
                        Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let massPopChart = new Chart(myChart, {
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
            datasets: [{
                label: 'Thu',
                data: [@ViewBag.lstIncomePerMonth[0], @ViewBag.lstIncomePerMonth[1], @ViewBag.lstIncomePerMonth[2], @ViewBag.lstIncomePerMonth[3], @ViewBag.lstIncomePerMonth[4]
                    , @ViewBag.lstIncomePerMonth[5], @ViewBag.lstIncomePerMonth[6], @ViewBag.lstIncomePerMonth[7], @ViewBag.lstIncomePerMonth[8], @ViewBag.lstIncomePerMonth[9],
                    @ViewBag.lstIncomePerMonth[10], @ViewBag.lstIncomePerMonth[11]],
                //data: [28, 68, 40, 19, 96, 13, 20, 30, 40, 50, 70, 55],
                backgroundColor: "rgba(151,249,190,0.5)",
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }, {
                    label: 'Chi',
                data: [@ViewBag.lstSpendingPerMonth[0], @ViewBag.lstSpendingPerMonth[1], @ViewBag.lstSpendingPerMonth[2], @ViewBag.lstSpendingPerMonth[3], @ViewBag.lstSpendingPerMonth[4]
                    , @ViewBag.lstSpendingPerMonth[5], @ViewBag.lstSpendingPerMonth[6], @ViewBag.lstSpendingPerMonth[7], @ViewBag.lstSpendingPerMonth[8], @ViewBag.lstSpendingPerMonth[9],
                    @ViewBag.lstSpendingPerMonth[10], @ViewBag.lstSpendingPerMonth[11]],
                //data: [28, 68, 40, 19, 96, 13, 20, 30, 40, 50, 70, 55],
                backgroundColor: "rgba(252,147,65,0.5)",
                borderWidth: 1,
                borderColor: '#777',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Biểu đồ chi và tiêu',
                fontSize: 25
            },
            legend: {
                display: true,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                enabled: true
            }
        }
    });
    let myLineChart = document.getElementById('myLineChart').getContext('2d');

                    let massPopLineChart = new Chart(myLineChart, {


                        type: 'line', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                        data: {


                            labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"],
                            datasets: [{
                label: 'Tích lũy',
                                data: [@ViewBag.lstIncomePerMonth[0] - @ViewBag.lstSpendingPerMonth[0], @ViewBag.lstIncomePerMonth[1] - @ViewBag.lstSpendingPerMonth[1], @ViewBag.lstIncomePerMonth[2] - @ViewBag.lstSpendingPerMonth[2],
                                    @ViewBag.lstIncomePerMonth[3] - @ViewBag.lstSpendingPerMonth[3], @ViewBag.lstIncomePerMonth[4] - @ViewBag.lstSpendingPerMonth[4], @ViewBag.lstIncomePerMonth[5] - @ViewBag.lstSpendingPerMonth[5],
                                    @ViewBag.lstIncomePerMonth[6] - @ViewBag.lstSpendingPerMonth[6], @ViewBag.lstIncomePerMonth[7] - @ViewBag.lstSpendingPerMonth[7], @ViewBag.lstIncomePerMonth[8] - @ViewBag.lstSpendingPerMonth[8],
                                    @ViewBag.lstIncomePerMonth[9] - @ViewBag.lstSpendingPerMonth[9], @ViewBag.lstIncomePerMonth[10] - @ViewBag.lstSpendingPerMonth[10], @ViewBag.lstIncomePerMonth[11] - @ViewBag.lstSpendingPerMonth[11]],
                                borderColor: "rgba(252,147,65,0.5)",
                                pointBackgroundColor: "red",
                                backgroundColor: "rgb(211, 219, 189)",
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Biểu đồ tích lũy tài chính',
                fontSize: 25
            },
            legend: {
                display: true,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                enabled: true
            }
        }
    });
</script>

</html>